mj-section
    mj-column
        mj-text Investissez dans la performance.
        mj-text Un smartphone pro, rentable et accessible !
    mj-column
        mj-image(src="images/pictoIA.png" alt="")/
        mj-text Magic portal
        mj-text Entourez une info, l'intelligence artificielle vous guide : partage, recherche, organisation... tout devient plus simple et rapide.
    mj-column
        mj-image(src="images/pictoMobileResistantAuxChocs.png" alt="")/
        mj-text Ultra résistant, ultra pro
        mj-text Il résiste aux éclaboussures, à l'eau et à la poussière (certifié ip64) pour vous suivre partout même sur le terrain.
    mj-column
        mj-image(src="images/pictoForfaitCarteSIM.png" alt="")/
        mj-text 256 Go de stockage
        mj-text Performance durable. Accès rapide à vos fichiers et applis, pour une productivité sans ralentissement.
    mj-column
        mj-image(src="images/pictoMobile.png" alt="")/
        mj-text Design léger et élégant
        mj-text Un smartphone ultra-léger, idéal pour travailler confortablement en déplacement pro.
mj-section
    mj-column
        mj-image(src="images/pictoLogo.png" alt="")/
        mj-text Et si votre forfait vous en offrait plus ?
        mj-text Data illimitée en France (3) et 60 Go en Europe
        mj-text Appels, SMS & MMS illimités depuis et vers France
        mj-text Compatibilité 5G
        mj-text Privilèges Entreprises inclus : Garantie 3 ans (4), échange sur site à J+1(5), connexion internet mobile prioritaire(6) en cas de saturation du réseau.
        mj-button J'en profite