mj-section(mj-class="bgBf")
    mj-column(width="100%")
        mj-text(padding="0" align="center" mj-class="T18-700 cTW") Investissez dans la performance.
        mj-text(padding="0" align="center" mj-class="T18-700 cTW") Un smartphone pro, rentable et accessible !
    mj-column(width="50%")
        mj-image(width="35px" src="images/pictoIA.png" alt="")/
        mj-text(padding="0" align="center" mj-class="T16-400 cTW" font-weight="700") Magic portal
        mj-text(padding="0" align="center" mj-class="T16-400 cTW") Entourez une info, l'intelligence artificielle vous guide : partage, recherche, organisation... tout devient plus simple et rapide.
    mj-column(width="50%")
        mj-image(width="48px" src="images/pictoMobileResistantAuxChocs.png" alt="")/
        mj-text(padding="0" align="center" mj-class="T16-400 cTW" font-weight="700") Ultra résistant, ultra pro
        mj-text(padding="0" align="center" mj-class="T16-400 cTW") Il résiste aux éclaboussures, à l'eau et à la poussière (certifié ip64) pour vous suivre partout même sur le terrain.
    mj-column(width="50%")
        mj-image(width="48px" src="images/pictoForfaitCarteSIM.png" alt="")/
        mj-text(padding="0" align="center" mj-class="T16-400 cTW" font-weight="700") 256 Go de stockage
        mj-text(padding="0" align="center" mj-class="T16-400 cTW") Performance durable. Accès rapide à vos fichiers et applis, pour une productivité sans ralentissement.
    mj-column(width="50%")
        mj-image(width="48px" src="images/pictoMobile.png" alt="")/
        mj-text(padding="0" align="center" mj-class="T16-400 cTW" font-weight="700") Design léger et élégant
        mj-text(padding="0" align="center" mj-class="T16-400 cTW") Un smartphone ultra-léger, idéal pour travailler confortablement en déplacement pro.
mj-section(mj-class="bgBf")
    mj-column(width="100%" mj-class="bgW" border-radius="20px")
        mj-image(width="48px" src="images/pictoLogo.png" alt="")/
        mj-text(align="center") Et si votre forfait vous en offrait plus ?
        mj-table
            tr
                td
                    p Data illimitée en France (3) et 60 Go en Europe
            tr
                td
                    p Appels, SMS & MMS illimités depuis et vers France
            tr 
                td 
                    p Compatibilité 5G
            tr
                td 
                    p Privilèges Entreprises inclus : Garantie 3 ans (4), échange sur site à J+1(5), connexion internet mobile prioritaire(6) en cas de saturation du réseau.
        mj-button J'en profite