mj-section(padding="30px 0" mj-class="bgW")
    mj-column
        mj-text(padding="0" align="center" mj-class="T16-400") Parce que votre activité mérite, elle aussi, une touche d'exception.
mj-section(background-color="#F6F6F6")
    mj-column
        mj-image(width="75px" src="images/logoBouyguesvertical.png" alt="")/
    mj-column
        mj-text Toutes nos actualités
    mj-column
        mj-social(padding="0" mode="horizontal")
            mj-social-element(src="images/iconFacebook.png" href="#")
            mj-social-element(src="images/iconYoutube.png" href="#")
            mj-social-element(icon-size="100px" src="images/logoMagbusiness.png" href="#")
mj-section(padding="30px 32px")
    mj-column
        mj-text(padding="0" mj-class="T12-400 cT1") DAS Honor 400 Lite Tête : 0,85 W/kg, Tronc : 1,30 W/kg, Membres : 2,95 W/kg.
        mj-text(padding="0" padding-bottom="16px" mj-class="T12-400 cT1") (1) Offre valable jusqu’au 08/10/2025 pour toute nouvelle souscription à un forfait Neo Illimité/Intégral/Monde.
        mj-text(padding="0" padding-bottom="16px" mj-class="T12-400 cT1") (2) Engagement 24 ou 36 mois.
        mj-text(padding="0" padding-bottom="16px" mj-class="T12-400 cT1") (3) Accès Data Mobile illimité en France métropolitaine. Usage strictement réservé à une personne physique : peer-to-peer prohibé, utilisation interdite avec équipement comme un routeur.
        mj-text(padding="0" padding-bottom="16px" mj-class="T12-400 cT1") (4) Garantie 3 ans en cas de panne pour tous les téléphones neufs ou reconditionnés achetés chez Bouygues Telecom.
        mj-text(padding="0" padding-bottom="16px" mj-class="T12-400 cT1") (5) Échange sur site à J+1 en France métropolitaine si la demande est réalisée avant 16h30 du lundi au vendredi (hors jours fériés). Échange du téléphone par un modèle neuf ou reconditionné de grade A/A+, identique ou avec des fonctionnalités équivalentes dans la mesure des stocks.
        mj-text(padding="0" padding-bottom="16px" mj-class="T12-400 cT1") (6) Internet Prioritaire : en cas d’affluence sur le réseau propre 3G/4G et 5G de Bouygues Telecom, votre accès Internet mobile est priorisé.
        mj-text(padding="0" mj-class="T12-400 cT1") * Prix d'un appel local. Du lundi au vendredi, de 08h30 à 18h30.
mj-section(padding="0 32px")
    mj-column(width="100%")
       mj-image(padding="0" src="./images/Ligne.png")
mj-section(padding="30px 32px 40px 32px")
    mj-column
        mj-text(padding="0" mj-class="T12-400 cT1") Vous recevez ce courriel car vous êtes inscrit(e) dans la base de données de Bouygues Telecom en tant que contact professionnel.
        mj-text(padding="0" padding-bottom="16px" mj-class="T12-400 cT1") Vos données de contact sont enregistrées dans un fichier informatisé et traitées sur la base légale de l’intérêt légitime, pour vous adresser des propositions sur nos offres par courriel. Elles sont communiquées à nos services marketing et informatique ainsi qu’à nos sous-traitants en charge des courriels. Elles sont traitées dans l’Union Européenne et aux Etats-Unis en application de clauses contractuelles types de la Commission Européenne.
        mj-text(padding="0" padding-bottom="16px" mj-class="T12-400 cT1") Pour modifier vos préférences de contact ou vous désabonner, cliquez ici.
        mj-text(padding="0" mj-class="T12-400 cT1") Vous pouvez accéder aux données vous concernant, les rectifier, les faire effacer, exercer un droit à la limitation du traitement en cliquant ici.
        mj-text(padding="0" padding-bottom="16px" mj-class="T12-400 cT1") Si vous estimez, après nous avoir contactés, que vos droits "Informatique et Libertés" ne sont pas respectés, vous pouvez adresser une réclamation à la CNIL.
        mj-text(padding="0" padding-bottom="16px" mj-class="T12-400 cT1") Pour en savoir plus sur les traitements de données mis en œuvre par Bouygues Telecom, veuillez consulter notre Politique de confidentialité.
        mj-text(padding="0" padding-bottom="16px" mj-class="T12-400 cT1") Nous recueillons des statistiques sur l'ouverture des courriers électroniques et les clics sur leur contenu en utilisant les technologies standards du marché (pixels) pour nous permettre de nous assurer de la réception de nos e-mails et d'en améliorer le contenu.
        mj-text(padding="0" mj-class="T12-400 cT1") © BOUYGUES TELECOM - Société Anonyme au capital de 929 207 595,48 € - SIREN : 397 480 930 - R.C.S. Nanterre - Siège Social : Le Technopôle, 13-15 avenue du Maréchal Juin - 92360 Meudon-la-Forêt
