mj-section(mj-class="bgW" padding="20px")
    mj-column(width="53%" vertical-align="middle")
        mj-image(padding="0" width="179px" src="images/logoBouygueshorizontal.png" alt="")/
    mj-column(width="22%" vertical-align="middle")
        mj-text(padding="13px 0" align="center" mj-class="T13-400 cT1") contactez-nous 
    mj-column(width="25%" vertical-align="middle")
        mj-button(padding="0" mj-class="M16-400 bgT1 cTW" font-weight="700") 09&nbsp;71&nbsp;11&nbsp;26&nbsp;17*