mj-section(mj-class="bgW" padding="20px")
    mj-column(width="50%" vertical-align="middle")
        mj-image(padding="0 30px" width="179px" src="images/logoBouygueshorizontal.png" href="#" alt="")/
    mj-column(width="20%" vertical-align="middle")
        mj-text(padding="13px 0" align="center" mj-class="T13-400 cT1") contactez-nous 
    mj-column(width="30%" vertical-align="middle")
        mj-button(padding="0" inner-padding="0 20px" height="40px" width="150px" mj-class="T16-400 bgBf cTW" font-weight="700" href="#") 09&nbsp;71&nbsp;11&nbsp;26&nbsp;17*