mj-section
    mj-column(width="100%")
        mj-text(align="center" mj-class="T21-700") L'IA à chaque clic
    mj-column
        mj-button Nouveau
        mj-text(align="center" mj-class="T18-700") Honor 400 Lite
        mj-image(width="244px" src="images/Honor400.png" alt="")/
    mj-column
        mj-button Privilèges Entreprises Inclus
        mj-text(align="center") 1 € (1) HT 
        mj-text(align="center" mj-class="T16-400") avec le forfait Neo illimité(2)
        mj-text(align="center" mj-class="T16-400") Capacité de stockage : 256 Go 
        mj-button J'en profite