mj-section(padding="0 20px" padding-bottom="30px" background-color="#E6E9EC")
    mj-column(width="100%" padding="30px 0 20px 0")
        mj-text(padding="0" align="center" mj-class="T21-700 cT1") L'IA à chaque clic
    mj-column(width="45%" padding="0 20px")
        mj-button(padding="0" inner-padding="8px 20px" border-radius="50px" background-color="#B3E2EC" mj-class="T15-400 cT1") Nouveau
        mj-text(padding="10px 0" align="center" mj-class="T18-700 cT1") Honor 400 Lite
        mj-image(padding="0" width="244px" src="images/Honor400.png" alt="")/
    mj-column(width="55%" padding="30px 20px" mj-class="bgW" border-radius="20px")
        mj-button(padding="0" border-radius="50px" border="1px solid #109DB9" color="#109DB9" background-color="transparent") Privilèges Entreprises Inclus
        mj-table(align="center" padding="0")
            tr
                td(width="50%" align="right" style="padding-top:20px")
                    p(style="margin:0;padding:0;font-size:60px;font-weight:700;line-height:62px;color:#00263C") 1 
                td(width="50%" style="padding-top:20px;")
                    table(style="padding:0")
                        tr
                            td(style="padding:0")    
                                p(style="margin:0;padding:0;font-size:28px;font-weight:700;line-height:30px;color:#00263C") €&nbsp;#[sup(style="font-size:10px;font-weight:400;line-height:0;") (1)]
                        tr
                            td(style="padding:0")
                                p(style="margin:0;padding:0px;font-size:18px") HT 
        mj-text(padding="0" padding-top="10px" align="center" mj-class="T16-400 cT1") avec le forfait #[span(style="color:#109D89;font-weight:700") Neo illimité]&nbsp;#[sup(style="font-size:10px;line-height:0") (2)]
        mj-text(padding="0" padding-bottom="20px" align="center" mj-class="T16-400 cT1") Capacité de stockage : 256&nbsp;Go 
        mj-button(padding="0" height="45px" mj-class="T16-400 bgO cTW" font-weight="700") J'en profite