mj-section(padding="0 20px" padding-bottom="30px" background-color="#E6E9EC")
    mj-column(width="100%" padding="30px 0 20px 0")
        mj-text(padding="0" align="center" mj-class="T21-700") L'IA à chaque clic
    mj-column(width="45%" padding="0 20px")
        mj-button(padding="0" inner-padding="8px 20px" border-radius="50px" background-color="#B3E2EC" mj-class="T15-400 cT1") Nouveau
        mj-text(padding="10px 0" align="center" mj-class="T18-700") Honor 400 Lite
        mj-image(padding="0" width="244px" src="images/Honor400.png" alt="")/
    mj-column(width="55%" padding="0 20px" mj-class="bgW" border-radius="20px")
        mj-button(border-radius="50px" border="1px solid #109DB9" color="#109DB9" background-color="transparent") Privilèges Entreprises Inclus
        mj-text(align="center") 1 € (1) HT 
        mj-text(padding="0" align="center" mj-class="T16-400") avec le forfait Neo illimité(2)
        mj-text(padding="0" align="center" mj-class="T16-400") Capacité de stockage : 256 Go 
        mj-button(padding="0px" height="45px" mj-class="T16-400 bgO cTW" font-weight="700") J'en profite