mj-section
    mj-column
        mj-button Nouveau
        mj-text Honor 400 Lite
        mj-image(src="images/Honor400.png" alt="")/
    mj-column
        mj-button Privilèges Entreprises Inclus
        mj-text 1 € (1) HT 
        mj-text avec le forfait Neo illimité(2)
        mj-text Capacité de stockage : 256 Go 
        mj-button J'en profite