extends templates/_layout
block content 
    mj-section(padding="6px 0px 5px 0px")
        mj-column()
            mj-text(align="center" padding="0" mj-class="T12-700" color="#000000") Donnons vie à vos projets, prenez rendez-vous